/* CSS */
.status-button {
    width: 200px;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .completed {
    background-color: green;
    color: white;
  }
  
  .incomplete {
    background-color: red;
    color: white;
  }
  .deleteBtn{
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 4px;
  }
  